@import "mixin";

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: $minWidth;
  scroll-behavior: smooth;
  @media (min-width: rem(1400)) {
    zoom: 1;
    ._container {
     max-width: calc(100% - rem(100));
    }
  }
  @media (min-width: rem(1500)) {
    //zoom: 1;
  }
  @media (min-width: rem(1600)) {
    //zoom: 1.12;
    ._container {
      max-width: calc(100% - rem(200));
     }
  }
  @media (min-width: rem(1700)) {
    //zoom: 1.15;
  }
  @media (min-width: rem(1800)) {
    //zoom: 1.2;
  }
  @media (min-width: rem(2000)) {
    //zoom: 1.25;
  }
}
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-size: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: inherit;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

//-webkit-overflow-scrolling: touch;
/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  margin: 0;
  height: auto;
  top: 0 !important;
  @media (max-width: rem(992)) {
  }
  &.no-scroll {
    overflow: hidden;
    main {
      padding-right: rem(10);
      @media (max-width: rem(992)) {
        padding-right: 0;
      }
    }
    header {
      padding-right: rem(10);
      @media (max-width: rem(992)) {
        padding-right: 0;
      }
    }
  }

  &::-webkit-scrollbar {
    background: transparent;
    width: rem(10);
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #6f6ff9;
    border-radius: rem(100);
  }
}

.skiptranslate { 
  display: none !important;
}

* {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none !important;
  @media (max-width: rem(992)) {
    outline: none !important;
  }
}

html,
body {
  //overflow-x: hidden;
}
@media screen and (min-width: rem(992)) {
  .dt-hidden {
    display: none !important;
  }
}
@media screen and (max-width: rem(992)) {
  .iti.iti--container {
    z-index: 1999999999 !important;
  }
  .mob-hidden {
    display: none !important;
  }
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 rem(16);
  width: 100%;
  /*@media (min-width: rem(1600)) {
    max-width: $maxWidth;
  }*/
}

.site {
  position: relative;
  > .react-parallax {
    @media (max-width: rem(992)) {
      border-radius: 0 !important;
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeInUp {
  animation: fadeInUp linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  @media (max-width: rem(992)) {
    animation-range: entry 0% cover 20%;
  }
}

.main-button {
  display: flex;
  font-weight: 700;
  font-family: var(--font-helvetica-light);
  gap: rem(8);
  color: #ffffff;
  height: rem(52);
  align-items: center;
  justify-content: center;
  padding: 0 rem(40);
  background: linear-gradient(92.34deg, #4040b1 0%, #7373ff 98.04%);
  border-radius: rem(30);
  font-size: rem(16);
  @media (max-width: rem(992)) {
    height: rem(44);
    padding: 0 rem(24);
    font-size: rem(14);
  }
}
.gray-button {
  display: block;
  font-weight: 400;
  font-family: var(--font-helvetica-light);
  height: rem(52);
  background: linear-gradient(
    134.16deg,
    rgba(255, 255, 255, 0.4) -51.42%,
    rgba(255, 255, 255, 0) 91.45%
  );
  padding: rem(1);
  border-radius: rem(30);
  font-size: rem(16);
  @media (max-width: rem(992)) {
    height: rem(44);
  }
  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(40);
    background: #222740;
    height: inherit;
    border-radius: rem(30);
    color: #ffffffe5;
    font-size: rem(16);
    @media (max-width: rem(992)) {
      padding: 0 rem(11);
      font-size: rem(14);
    }
  }
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(20);
  margin-bottom: rem(68);
  @media (max-width: rem(992)) {
    gap: rem(12);
    margin-bottom: rem(38);
  }
  .label {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding: rem(8) rem(20) rem(8) rem(8);
    border-radius: rem(20);
    gap: rem(6);
    color: #030a1d;
    font-weight: 400;
    font-size: rem(14);
  }
  h2 {
    font-weight: 700;
    font-family: var(--font-helvetica-light);
    font-size: rem(44);
    text-align: center;
    @media (max-width: rem(992)) {
      font-size: rem(26);
      br {
        display: none;
      }
    }
  }
  p {
    color: #030a1de5;
    font-size: rem(16);
    text-align: center;
    line-height: 1.2;
    font-weight: 400;
    @media (max-width: rem(992)) {
      font-size: rem(14);
      br {
        display: none;
      }
    }
  }
}

.get-started {
  position: relative;
  z-index: 1;
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/get-started.svg);
    background-position: center;
    background-size: cover;
    padding: rem(100) rem(16);
    border-radius: rem(20);
    @media (max-width: rem(992)) {
      padding: rem(74) rem(20);
    }
    h2 {
      font-weight: 700;
      font-family: var(--font-helvetica-light);
      background: linear-gradient(92.2deg, #ffffff 33.7%, #5e5e96 95.21%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      font-size: rem(50);
      line-height: 1.2;
      @media (max-width: rem(992)) {
        font-size: rem(32);
      }
    }
    p {
      margin: rem(24) 0 rem(30) 0;
      color: #ffffffe5;
      font-size: rem(16);
      text-align: center;
      @media (max-width: rem(992)) {
        font-size: rem(14);
        margin: rem(20) 0 rem(40) 0;
        br {
          display: none;
        }
      }
    }
  }
}

.thanks-popup-wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  min-height: 100%;
  opacity: 0;
  pointer-events: none;

  background: #0000004d;
  backdrop-filter: blur(15px);
  &.opened {
    opacity: 1;
    pointer-events: all;
    transition: all 0.5s;
    .popup-inner {
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.5s;
    }
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    min-height: 100%;
  }

  .popup-inner {
    transition: all 0.5s;
    width: rem(480);
    max-width: 95%;
    background: #ffffff;
    padding: rem(30);
    border-radius: rem(12);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    max-height: 95vh;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
    &:-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
    @media (max-width: rem(992)) {
      padding: 40px 24px;
    }
    .popup-close {
      position: absolute;
      right: rem(20);
      top: rem(20);
      cursor: pointer;
      @media (max-width: rem(992)) {
        top: 24px;
        right: 24px;
      }
    }

    .success {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      h3 {
        font-weight: 700;
        font-family: var(--font-helvetica-light);
        font-size: rem(24);
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        color: #030a1d;
        margin: rem(20) 0;
      }
      p {
        margin: 0;
        color: #030a1de5;
        font-size: rem(16);
        font-weight: 400;
        line-height: 18.23px;
        text-align: center;
      }
    }
  }
}
