@import "mixin";

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: $minWidth;
}
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-size: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: inherit;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

//-webkit-overflow-scrolling: touch;
/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  margin: 0;
  @media (max-width: rem(992)) {
  }
  &.no-scroll {
    overflow: hidden;
    main {
      padding-right: rem(10);
      @media (max-width: rem(992)) {
        padding-right: 0;
      }
    }
    header {
      padding-right: rem(10);
      @media (max-width: rem(992)) {
        padding-right: 0;
      }
    }
  }

  &::-webkit-scrollbar {
    background: transparent;
    width: rem(10);
  }

  &::-webkit-scrollbar-track {
    background: #080808;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3516b1;
    border-radius: rem(100);
  }
}
* {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none !important;
  @media (max-width: rem(992)) {
    outline: none !important;
  }
}

html,
body {
  //overflow-x: hidden;
}
@media screen and (min-width: rem(992)) {
  .dt-hidden {
    display: none !important;
  }
}
@media screen and (max-width: rem(992)) {
  .iti.iti--container {
    z-index: 1999999999 !important;
  }
  .mob-hidden {
    display: none !important;
  }
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 rem(16);
  width: 100%;
  /*@media (min-width: rem(1600)) {
    max-width: $maxWidth;
  }*/
}

.site {
  position: relative;
  > .react-parallax {
    @media (max-width: rem(992)) {
      border-radius: 0 !important;
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeInUp {
  animation: fadeInUp linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  @media (max-width: rem(992)) {
    animation-range: entry 0% cover 20%;
  }
}
