@use "mixin" as *;

.contact-hero {
  &__body {
    background: url(/images/services/hero.svg);
    background-position: center;
    background-size: cover;
    border-radius: rem(20);
    padding: rem(70) rem(16);
    @media (max-width: rem(992)) {
      padding: rem(50) rem(16);
    }
    h1 {
      font-weight: 700;
      font-family: var(--font-helvetica-light);
      background: linear-gradient(92.2deg, #ffffff 33.7%, #5e5e96 95.21%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      font-size: rem(50);
      line-height: 1.2;
      margin-bottom: rem(16);
      @media (max-width: rem(992)) {
        font-size: rem(26);
        br {
          display: none;
        }
      }
    }
    p {
      color: #ffffffe5;
      font-size: rem(16);
      text-align: center;
      font-weight: 400;
      line-height: 1.3;
      @media (max-width: rem(992)) {
        font-size: rem(14);
        br {
          display: none;
        }
      }
    }
  }
}

.contact-row {
  margin: rem(64) 0 rem(120) 0;
  @media (max-width: rem(992)) {
    margin: rem(50) 0 rem(100) 0;
  }
  &__body {
    display: flex;
    gap: rem(20);
    @media (max-width: rem(992)) {
      flex-direction: column;
    }
    > div {
      width: 33.33%;
      border-radius: rem(12);
      padding: 1px;
      background: linear-gradient(
          129.26deg,
          rgba(115, 115, 255, 0.2) 0%,
          rgba(115, 115, 255, 0) 50.44%
        ),
        linear-gradient(
          125.99deg,
          rgba(115, 115, 255, 0) 61.58%,
          rgba(115, 115, 255, 0.2) 100%
        );
      @media (max-width: rem(992)) {
        width: 100%;
      }
      &:last-child {
        .inner {
          justify-content: space-between;
          background: url(/images/services/service-back.svg);
          background-position: center;
          background-size: cover;
          min-height: rem(490);
          @media (max-width: rem(992)) {
            min-height: rem(300);
          }
          h3 {
            color: #fff;
          }
          p,
          a {
            color: #ffffffe5;
          }
        }
      }
      .inner {
        border-radius: rem(12);
        padding: rem(40);
        background: #f8f8f8;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: rem(30);
        @media (max-width: rem(992)) {
          padding: rem(32) rem(16);
        }
        h3 {
          font-weight: 700;
          font-family: var(--font-helvetica-light);
          font-size: rem(16);
          font-weight: 700;
          line-height: 1.2;
          text-align: left;
          color: #030a1d;
          margin: 0 0 rem(12) 0;
        }
        a:not(.main-button),
        p {
          color: #030a1de5;
          font-size: rem(16);
          font-weight: 1.3;
          display: block;
          margin-top: rem(8);
        }
        .companies {
          display: flex;
          flex-direction: column;
          gap: rem(16);
          .company {
            display: flex;
            flex-direction: column;
            gap: rem(10);
            &__name {
              display: flex;
              align-items: center;
              gap: rem(10);
              h4 {
                font-weight: 700;
                font-family: var(--font-helvetica-light);
                font-size: rem(16);
                font-weight: 700;
                line-height: 1.2;
                text-align: left;
                color: #485169;
                margin: 0;
              }
              span {
                display: block;
                color: #6f6ff9;
                font-family: var(--font-helvetica-light);
                font-size: rem(16);
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border-radius: 12px;
                background: rgba(111, 111, 249, 0.3);
                padding: rem(6) rem(12);
              }
            }
            &__address {
              h5 {
                color: #485169;
                font-weight: 400;
              }
              p {
                color: #485169;
                opacity: 0.65;
              }
            }
          }
        }
      }
    }
  }
}
