@use "mixin" as *;

footer {
  .foot-top {
    background: #f8f8f8;
    padding: rem(120) 0 rem(80) 0;
    margin-top: -40px;
    @media (max-width: rem(992)) {
      padding: rem(120) 0 rem(48) 0;
      margin-top: -70px;
    }
    .row {
      display: flex;
      gap: rem(40);
      @media (max-width: rem(992)) {
        flex-wrap: wrap;
        column-gap: rem(20);
        row-gap: rem(48);
      }
      .col {
        width: 20%;
        @media (max-width: rem(992)) {
          width: calc(50% - rem(10));
        }
        &:first-child {
          min-width: rem(246);
          @media (max-width: rem(992)) {
            width: 100%;
          }
        }
        &:last-child {
          width: 30%;
          @media (max-width: rem(992)) {
            width: calc(50% - rem(10));
          }
        }
        p {
          color: #535862;
          font-size: rem(16);
          margin-top: rem(26);
        }
        h3 {
          margin-bottom: rem(26);
          font-size: rem(16);
          font-weight: 700;
          font-family: var(--font-helvetica-light);
        }
        nav {
          display: flex;
          flex-direction: column;
          gap: rem(20);
          a {
            color: #485169;
            font-size: rem(16);
            @media (max-width: rem(992)) {
              font-size: rem(14);
            }
          }
        }
      }
    }
  }
  .foot-copy {
    .row {
      display: flex;
      justify-content: space-between;
      padding: rem(30) 0;
      align-items: center;
      @media (max-width: rem(992)) {
        flex-direction: column;
        align-items: center;
        gap: rem(20);
      }
      p {
        color: #535862;
        font-size: rem(16);
      }
      nav {
        display: flex;
        justify-content: flex-end;
        gap: rem(20);
        @media (max-width: rem(992)) {
          justify-content: center;
          flex-wrap: wrap;
          gap: rem(10);
        }
        a {
          color: #485169;
          font-size: rem(16);
        }
      }
    }
  }
}
