@use "mixin" as *;

.home-hero {
  &__body {
    background-image: url(/images/home/hero-block.svg);
    background-position: center;
    background-size: cover;
    padding: rem(20) rem(30);
    border-radius: rem(20);
    .top {
      padding-top: rem(156);
      padding-bottom: rem(145);
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-weight: 700;
        font-family: var(--font-helvetica-light);
        background: linear-gradient(92.2deg, #ffffff 33.7%, #5e5e96 95.21%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-size: rem(50);
        line-height: 1.2;
      }
      p {
        margin: rem(24) 0 rem(60) 0;
        color: #ffffffe5;
        font-size: rem(16);
        text-align: center;
      }
      .buttons {
        display: flex;
        gap: rem(20);
        justify-content: center;
        position: relative;
        > img {
          position: absolute;
          right: -140px;
          top: -10px;
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        display: flex;
        gap: rem(20);
        a {
          background: #0e1433;
          display: flex;
          align-items: center;
          gap: rem(6);
          height: rem(44);
          padding: 0 rem(20);
          border-radius: rem(22);
          color: #ffffffe5;
          font-size: rem(14);
        }
      }
      .right {
        display: flex;
        gap: rem(20);
        a {
          background: #0e1433;
          display: flex;
          align-items: center;
          gap: rem(6);
          height: rem(44);
          padding: 0 rem(20);
          border-radius: rem(22);
          position: relative;
          span {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(23);
            height: rem(16);
            background: #6f6ff9;
            border-radius: rem(20);
            color: #fff;
            font-size: rem(10);
            right: -3px;
            top: -6px;
          }
        }
      }
    }
  }
}

.home-solutions {
  margin: rem(120) 0;
  .row {
    display: flex;
    column-gap: rem(20);
    row-gap: rem(16);
    flex-wrap: wrap;
    .item {
      width: calc(33.33% - rem(20));
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(20);
      background: #f8f8f8;
      border-radius: rem(12);
      padding: rem(20);
      h3 {
        font-weight: 700;
        font-family: var(--font-helvetica-light);
        font-size: rem(24);
      }
      p {
        color: #030a1de5;
        font-size: rem(16);
        text-align: center;
        line-height: 1.2;
        font-weight: 400;
      }
    }
  }
}

.home-partners {
  margin: rem(120) 0;
  .buttons {
    display: flex;
    justify-content: center;
    a {
      display: flex;
      align-items: center;
      gap: rem(8);
      color: #6f6ff9;
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      text-align: left;
    }
  }
}

.home-details {
  margin: rem(120) 0;
  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(68);
    .row {
      display: flex;
      align-items: center;
      gap: rem(75);
      .col-01 {
        width: 45%;
        h2 {
          font-weight: 700;
          font-family: var(--font-helvetica-light);
          font-size: rem(44);
          line-height: 1.2;
          margin-bottom: rem(26);
          color: #030a1d;
        }
        p {
          color: #030a1de5;
          font-size: rem(16);
          text-align: left;
          line-height: 1.2;
          font-weight: 400;
        }
      }
      .col-02 {
        width: 55%;
        padding: rem(24);
        background-image: url(/images/home/detail-back.svg);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: rem(12);
        img {
          max-width: 100%;
        }
      }
    }
  }
}

.home-stories {
  margin: rem(120) 0;
  .buttons {
    display: flex;
    justify-content: center;
    a {
      display: flex;
      align-items: center;
      gap: rem(8);
      color: #6f6ff9;
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      text-align: left;
    }
  }
}
