@use "mixin" as *;

.home-hero {
  &__body {
    background-image: url(/images/home/hero-block.svg);
    background-position: center;
    background-size: cover;
    padding: rem(20) rem(30);
    border-radius: rem(20);
    @media (max-width: rem(992)) {
      padding: rem(14) rem(20);
    }
    .top {
      padding-top: rem(156);
      padding-bottom: rem(145);
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: rem(992)) {
        padding-top: rem(200);
      }
      h1 {
        font-weight: 700;
        font-family: var(--font-helvetica-light);
        background: linear-gradient(92.2deg, #ffffff 33.7%, #5e5e96 95.21%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-size: rem(50);
        line-height: 1.2;
        @media (max-width: rem(992)) {
          font-size: rem(32);
          br {
            display: none;
          }
        }
      }
      p {
        margin: rem(24) 0 rem(60) 0;
        color: #ffffffe5;
        font-size: rem(16);
        text-align: center;
        @media (max-width: rem(992)) {
          font-size: rem(14);
          br {
            display: none;
          }
        }
      }
      .buttons {
        display: flex;
        gap: rem(20);
        justify-content: center;
        position: relative;
        @media (max-width: rem(992)) {
          gap: rem(6);
        }
        > img {
          position: absolute;
          right: -140px;
          top: -10px;
          @media (max-width: rem(992)) {
            display: none;
          }
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: rem(992)) {
        justify-content: space-between;
        gap: rem(12);
      }
      .left {
        display: flex;
        gap: rem(20);
        @media (max-width: rem(992)) {
          flex-grow: 1;
          gap: rem(12);
        }
        a {
          background: #0e1433;
          display: flex;
          align-items: center;
          gap: rem(6);
          height: rem(44);
          padding: 0 rem(20);
          border-radius: rem(22);
          color: #ffffffe5;
          font-size: rem(14);
          @media (max-width: rem(992)) {
            flex-grow: 1;
            padding: 0;
            justify-content: center;
            > span {
              display: none;
            }
          }
        }
      }
      .right {
        display: flex;
        gap: rem(20);
        @media (max-width: rem(992)) {
          flex-grow: 1;
          gap: rem(12);
        }
        a {
          background: #0e1433;
          display: flex;
          align-items: center;
          gap: rem(6);
          height: rem(44);
          padding: 0 rem(20);
          border-radius: rem(22);
          position: relative;
          @media (max-width: rem(992)) {
            flex-grow: 1;
            gap: rem(12);
            padding: 0;
            justify-content: center;
          }
          span {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(23);
            height: rem(16);
            background: #6f6ff9;
            border-radius: rem(20);
            color: #fff;
            font-size: rem(10);
            right: -3px;
            top: -6px;
          }
        }
      }
    }
  }
}

.home-solutions {
  margin: rem(120) 0;
  @media (max-width: rem(992)) {
    margin: rem(86) 0;
  }
  .row {
    display: flex;
    column-gap: rem(20);
    row-gap: rem(16);
    flex-wrap: wrap;
    @media (max-width: rem(992)) {
      flex-direction: column;
    }
    .item {
      width: calc(33.33% - rem(20));
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(20);
      background: #f8f8f8;
      border-radius: rem(12);
      padding: rem(20);
      @media (max-width: rem(992)) {
        width: 100%;
      }
      h3 {
        font-weight: 700;
        font-family: var(--font-helvetica-light);
        font-size: rem(24);
      }
      p {
        color: #030a1de5;
        font-size: rem(16);
        text-align: center;
        line-height: 1.2;
        font-weight: 400;
      }
    }
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(50%);
  }
}

.home-partners {
  margin: rem(120) 0;
  @media (max-width: rem(992)) {
    margin: rem(86) 0;
  }
  .professionals {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: rem(30);
    margin-bottom: rem(48);
    .swiper {
      display: flex;
      width: 100%;
      .swiper-wrapper {
        //transition-duration: 0ms !important;
        transition-timing-function: linear;
      }
      .swiper-slide {
        display: flex;
        align-items: center;
        text-align: center;
        width: auto;
        flex-shrink: 0;
        gap: rem(10);
        padding: rem(12) rem(20);
        gap: rem(10);
        font-size: rem(16);
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
        background: #f8f8f8;
        border-radius: rem(12);
        img {
          @media (max-width: rem(992)) {
            width: rem(20);
            height: rem(20);
          }
        }
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    a {
      display: flex;
      align-items: center;
      gap: rem(8);
      color: #6f6ff9;
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      text-align: left;
    }
  }
}

.home-advantages {
  overflow: hidden;
  margin: rem(120) 0;
  @media (max-width: rem(992)) {
    margin: rem(86) 0;
  }
  .dots {
    margin-top: rem(50);
    display: flex;
    justify-content: center;
    gap:rem(10);
    .swiper-pagination-bullet{
      width: rem(10);
      height: rem(10);
      margin: 0;
      background: #f1f1f1;
      opacity: 1;
      &.swiper-pagination-bullet-active{
        background: #DFDFDF;
      }
    }
  }
  .swiper {
    width: 100%;
    overflow: unset;
    .swiper-wrapper {
      width: 100%;
      //overflow: unset;
      .swiper-slide {
        transition-duration: 1.2s !important;
        width: 100%;
        border-radius: rem(20);
        padding: 1px;
        background: linear-gradient(
            129.26deg,
            rgba(115, 115, 255, 0.2) 0%,
            rgba(115, 115, 255, 0) 50.44%
          ),
          linear-gradient(
            125.99deg,
            rgba(115, 115, 255, 0) 61.58%,
            rgba(115, 115, 255, 0.2) 100%
          );
        overflow: unset;
        height: auto;
        &.swiper-slide-next {
          opacity: 1 !important;
          background: transparent;
          .slide-inner,
          .slide-last {
            transform: rotate(-2deg);
            border: 1px solid rgba(115, 115, 255, 0.4);
            @media (max-width: rem(992)) {
              transform: rotate(0);
              border: none;
            }
          }
        }
        &.swiper-slide-prev {
          opacity: 1 !important;
          background: transparent;
          .slide-inner,
          .slide-last {
            transform: rotate(-2deg);
            border: 1px solid rgba(115, 115, 255, 0.4);
            @media (max-width: rem(992)) {
              transform: rotate(0);
              border: none;
            }
          }
        }
        &.swiper-slide-active {
          z-index: 1;
          .slide-inner,
          .slide-last {
            transform: rotate(0);
          }
        }
        .slide-inner {
          width: 100%;
          background: #f8f8f8;
          border-radius: rem(20);
          padding: rem(30);
          display: flex;
          align-items: center;
          gap: rem(112);
          height: auto;
          //transform: rotate(-2deg);
          transition: all 1s;
          height: 100%;
          @media (max-width: rem(992)) {
            flex-direction: column;
            gap: rem(120);
            justify-content: space-between;
          }
          .col-o1 {
            width: calc(50% - rem(56));
            @media (max-width: rem(992)) {
              width: 100%;
            }
            .number {
              font-size: rem(44);
              font-weight: 700;
              line-height: 1;
              text-align: left;
              font-weight: 700;
              font-family: var(--font-helvetica-light);
              color: #7373ff;
            }
            h2 {
              font-weight: 700;
              font-family: var(--font-helvetica-light);
              font-size: rem(24);
              font-weight: 700;
              line-height: 1.2;
              text-align: left;
              color: #030a1d;
              margin: rem(30) 0;
            }
            p {
              color: #030a1de5;
            }
          }
          .col-o2 {
            background-size: cover;
            background-position: center;
            height: rem(420);
            border-radius: rem(20);
            width: calc(50% - rem(56));
            @media (max-width: rem(992)) {
              width: 100%;
              height: rem(380);
            }
          }
        }
        .slide-last {
          transition: all 1s;
          height: 100%;
          background-image: url(/images/home/slide3.svg);
          background-size: cover;
          background-position: center;
          border-radius: rem(20);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          h2 {
            font-weight: 700;
            font-family: var(--font-helvetica-light);
            background: linear-gradient(92.2deg, #ffffff 33.7%, #5e5e96 95.21%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
            font-size: rem(24);
            line-height: 1.2;
            @media (max-width: rem(992)) {
              font-size: rem(24);
              br {
                display: none;
              }
            }
          }
          p {
            margin: rem(20) 0;
            color: #ffffffe5;
            font-size: rem(16);
            text-align: center;
            @media (max-width: rem(992)) {
              font-size: rem(14);
              br {
                display: none;
              }
            }
          }
          .gray-button {
            span {
              display: flex;
              align-items: center;
              gap: rem(8);
            }
          }
        }
      }
    }
  }
}

.home-details {
  margin: rem(120) 0;
  @media (max-width: rem(992)) {
    margin: rem(86) 0;
  }
  ._container {
    position: relative;
    height: 400vh;
    @media (max-width: rem(992)) {
      height: auto;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(68);
    height: 100dvh;
    position: sticky;
    top: 0;
    @media (max-width: rem(992)) {
      gap: rem(38);
      height: auto;
    }
    .row {
      display: flex;
      align-items: center;
      gap: rem(75);
      height: 100%;
      position: absolute;
      opacity: 0;
      top:50%;
      transform: translateY(-50%) scale(0.7);
      transition: all 0.5s;
      @media (max-width: rem(992)) {
        flex-direction: column;
        gap: rem(16);
        opacity: 1;
        position: relative;
        top:unset;
        transform: translate(0);
      }
      &:first-child {
       
       @media (max-width: rem(992)) {
        position: relative;
        top:unset;
        transform: translate(0);
       }
      }
      &.active {
        opacity: 1;
        transform: translateY(-50%) scale(1);
        @media (max-width: rem(992)) {
          position: relative;
          top:unset;
          transform: translate(0) scale(1);
         }
      }
      .col-01 {
        width: 45%;
        @media (max-width: rem(992)) {
          width: 100%;
        }
        h2 {
          font-weight: 700;
          font-family: var(--font-helvetica-light);
          font-size: rem(44);
          line-height: 1.2;
          margin-bottom: rem(26);
          color: #030a1d;
          @media (max-width: rem(992)) {
            margin-bottom: rem(12);
            font-size: rem(26);
          }
        }
        p {
          color: #030a1de5;
          font-size: rem(16);
          text-align: left;
          line-height: 1.2;
          font-weight: 400;
        }
      }
      .col-02 {
        width: 55%;
        padding: rem(24);
        background-image: url(/images/home/detail-back.svg);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: rem(12);
        @media (max-width: rem(992)) {
          width: 100%;
        }
        img {
          max-width: 100%;
          @media (max-width: rem(992)) {
            width: auto;
            height: auto;
            max-height: rem(230);
          }
        }
      }
    }
  }
}

.home-stories {
  margin: rem(120) 0;
  @media (max-width: rem(992)) {
    margin: rem(86) 0;
  }

  .row {
    display: flex;
    gap: rem(20);
    margin-bottom: rem(48);
    @media (max-width: rem(992)) {
      flex-direction: column;
    }
    > div {
      width: calc(33.33% - rem(20));
      display: flex;
      flex-direction: column;
      gap: rem(20);
      @media (max-width: rem(992)) {
        width: 100%;
      }
      &.col-01 {
        background-size: cover;
        background-position: center;
        background-image: url(/images/home/stories1.png);
        border-radius: rem(12);
        @media (max-width: rem(992)) {
          height: rem(226);
        }
      }
      &.col-02 {
      }
      &.col-03 {
        flex-direction: column-reverse;
        @media (max-width: rem(992)) {
          flex-direction: column;
        }
        .image {
          background-size: cover;
          background-position: center;
          background-image: url(/images/home/stories2.png);
          border-radius: rem(12);
          flex-grow: 1;
          @media (max-width: rem(992)) {
            height: rem(226);
          }
        }
      }

      .professionals {
        display: flex;
        flex-direction: column;
        .wrap {
          height: rem(54);
          &:first-child {
            margin-bottom: rem(20);
            .item {
              > div {
                padding: rem(25) rem(20) rem(25) rem(20);
                justify-content: center;
              }
            }
          }
          &:not(:first-child) {
            .item {
              margin-top: -20px;
              transition: all 0.5s;
              &:hover {
                margin-top: -30px;
              }
            }
          }

          .item {
            background: linear-gradient(
              174.16deg,
              rgba(115, 115, 255, 0.2) -6.95%,
              rgba(115, 115, 255, 0) 80.75%
            );
            padding: 1px;
            border-radius: rem(12);

            > div {
              display: flex;
              align-items: center;
              padding: rem(12) rem(20);
              gap: rem(10);
              font-size: rem(16);
              font-weight: 400;
              line-height: 1.2;
              text-align: center;
              background: #f8f8f8;
              border-radius: rem(12);
              img {
                @media (max-width: rem(992)) {
                  //width: rem(20);
                  //height: rem(20);
                }
              }
            }
          }
        }
      }

      .percent {
        background: #f8f8f8;
        padding: rem(20);
        border-radius: rem(12);
        p {
          text-align: center;
          line-height: 1.2;
          color: #030a1de5;
          font-size: rem(16);
          span {
            font-weight: 700;
            font-family: var(--font-helvetica-light);
            font-size: rem(50);
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    a {
      display: flex;
      align-items: center;
      gap: rem(8);
      color: #6f6ff9;
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      text-align: left;
    }
  }
}
