@use "mixin" as *;

.policy {
  margin: rem(16) 0 rem(120) 0;
  @media (max-width: rem(992)) {
    margin-bottom: rem(100);
  }
  h1 {
    font-weight: 700;
    font-family: var(--font-helvetica-light);
    font-size: rem(44);
    color: #030a1d;
    text-align: center;
    @media (max-width: rem(992)) {
      font-size: rem(26);
    }
  }

  &__content {
    img {
      height: auto;
    }
    p {
      font-weight: 400;
      font-size: rem(16);
      color: #030a1de5;
      line-height: 1.4;
      margin-bottom: rem(20);
    }
    h2 {
      font-weight: 700;
      font-family: var(--font-helvetica-light);
      font-size: rem(24);
      color: #030a1d;
      text-align: left;
      margin: rem(90) 0 rem(20) 0;
      @media (max-width: rem(992)) {
        font-size: rem(18);
      }
    }
    h3 {
      font-weight: 700;
      font-family: var(--font-helvetica-light);
      font-size: rem(16);
      color: #030a1d;
      margin: rem(20) 0;
    }
    ol {
      display: flex;
      flex-direction: column;
      margin-bottom: rem(16);
      gap: rem(12);
      list-style-type: none;

      li {
        border-radius: rem(12);
        background: #f8f8f8;
        padding: rem(20);
        
        gap: rem(6);
        border: 1px solid transparent; // Set as transparent for better gradient visibility
        border-image-source: linear-gradient(
            129.26deg,
            rgba(115, 115, 255, 0.2) 0%,
            rgba(115, 115, 255, 0) 50.44%
          ),
          linear-gradient(
            125.99deg,
            rgba(115, 115, 255, 0) 61.58%,
            rgba(115, 115, 255, 0.2) 100%
          );
        -webkit-border-image: linear-gradient(
            129.26deg,
            rgba(115, 115, 255, 0.2) 0%,
            rgba(115, 115, 255, 0) 50.44%
          ),
          linear-gradient(
            125.99deg,
            rgba(115, 115, 255, 0) 61.58%,
            rgba(115, 115, 255, 0.2) 100%
          ); // WebKit prefix for older browsers
        border-image-slice: 1;
        font-size: rem(16);
        color: #030a1de5;
        gap: rem(10);
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      margin-bottom: rem(16);
      gap: rem(12);
      li {
        font-size: rem(16);
        color: #030a1de5;
        display: flex;
        align-items: center;
        gap: rem(10);
        &::before {
          content: "";
          display: block;
          width: rem(14);
          height: rem(14);
          background-image: url(/images/faq/plus.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
}
